body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f4f4f4;
}

embed {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Isso é importante para que as margens funcionem corretamente */
    max-width: 100%;
    /* Evita que o elemento ultrapasse a largura máxima da página */
}


header {
    /* background-image: url('imagens/js_.gif');*/
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* Alinhe as imagens à esquerda e à direita */
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    hyphens: auto;
}

.logo1 {
    max-width: 300px;
}

.logo2 {
    max-width: 100px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px auto;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.program-list {
    list-style: none;
    padding: 0;
}

.program-list li {
    margin: 10px 0;
}

/* Estilo para alinhar o formulário à direita */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para a barra de pesquisa */
.search-form {
    display: flex;
    align-items: center;
}

/* Estilo para o campo de pesquisa */
.search-input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de envio da pesquisa */
.search-button {
    background-color: #26c776;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Estilos card */
.card {
    width: 450px;
    height: 180px;
    background-color: white;
    background: linear-gradient(#f8f8f8, white);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  
  .card h3 {
    text-align: center;
  }
  
  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#fc0fc0, #fc0fc0);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card.rainbow .additional {
    animation: rainbow 5s linear infinite;
  }
    
    @keyframes rainbow {
        0% {
            background: #FFC0CB;
            /* Rosa claro */
        }
    
        20% {
            background: #FFD700;
            /* Amarelo claro */
        }
    
        40% {
            background: #ADD8E6;
            /* Azul claro */
        }
    
        60% {
            background: #98FB98;
            /* Verde claro */
        }
    
        80% {
            background: #FFA07A;
            /* Salmão claro */
        }
    
        100% {
            background: #FFB6C1;
            /* Rosa claro */
        }
    }

  .card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
  }
  
  
  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }
  
  .card .additional .user-card .level,
  .card .additional .user-card .points {
    text-align: center;
    top: 15%;
    color: black;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  .card .additional .user-card .points {
    top: 85%;
  }
  
  .card .additional .user-card svg {
    top: 50%;
  }
  
  .card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
  }
  
  .card .additional .more-info h1 {
    color: white;
    margin-bottom: 0;
  }
  
  .card.green .additional .more-info h1 {
    color: #224C36;
  }
  
  .card .additional .coords {
    margin: 0 1rem;
    color: black;
    font-size: 1rem;
  }
  
  .card.green .additional .coords {
    color: #325C46;
  }
  
  .card .additional .coords span + span {
    float: right;
  }
  
  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: black;
  }
  
  .card.green .additional .stats {
    color: #325C46;
  }
  
  .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .card .additional .stats i {
    display: block;
  }
  
  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
  
  .card .additional .stats div.value.infinity {
    font-size: 2.5rem;
  }
  
  .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  
  .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }


/* Media query para dispositivos menores, como smartphones */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }
}