body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f4f4f4;
}

embed {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Isso é importante para que as margens funcionem corretamente */
    max-width: 100%;
    /* Evita que o elemento ultrapasse a largura máxima da página */
}


header {
    /* background-image: url('imagens/js_.gif');*/
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* Alinhe as imagens à esquerda e à direita */
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

p {
    hyphens: auto;
}

.logo1 {
    max-width: 300px;
}

.logo2 {
    max-width: 100px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px auto;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.program-list {
    list-style: none;
    padding: 0;
}

.program-list li {
    margin: 10px 0;
}

/* Estilo para alinhar o formulário à direita */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para a barra de pesquisa */
.search-form {
    display: flex;
    align-items: center;
}

/* Estilo para o campo de pesquisa */
.search-input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de envio da pesquisa */
.search-button {
    background-color: #26c776;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}